CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt

/.cproject
/.project
/.settings/
Testing/

/install/
/build/
/build-debug/
/build_debug/
/build-release/
/build_release/

/lib/
/bin/

